.trainer-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.trainer-btn{
	width:130px;
	height: 30px;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: .75rem;
    background-color: #ff5534;
    box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
    border-radius: 5px;
	color:#fff2f2;
    font-family:"Lato";
}
.trainer-btn:hover{
	background-color: rgb(107, 45, 45);
    transition: all ease 0.5s;
    color: #ffffff;
    border: 2px solid #ff5534;
}